@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../utilities/mixins";

.delight-page {
    margin: 0;
    background-color: var(--c-primary);
    display: flex;
    flex-wrap: wrap;
}

.delights {
    width: 100%;
    height: calc(100vh - var(--s-xxl));
    overflow: hidden;
    display: none;
    flex-direction: column;
    // flex-wrap: wrap;
    // align-items: flex-start;
    position: relative;
    margin: 0;
    margin-top: var(--s-xxl);

    @include mixins.respond-above(variables.$break-m) {
        display: flex;
    }
}

.delights__images {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}

.delight__item {
    width: 280px;
    height: auto;
    position: absolute;
    overflow: hidden;
    display: none;
    flex-wrap: wrap;
    // transition: opacity 0.5s ease;
    transition: left 0.5s ease, top 0.5s ease, opacity 0.5s ease;
    margin: 0 var(--s-l);
    cursor: pointer;

    &:hover {
        z-index: 10;
    }

    &:nth-of-type(-n + 6) {
        display: flex;
    }

    &.animated {
        // transition: left 0.5s ease, top 0.5s ease, opacity 0.5s ease;
    }

    &.dragging {
        transition: opacity 0.5s ease;
        cursor: move;
    }

    &.expand {
        @include mixins.columns(8);
        height: auto;
        top: 0% !important;
        left: 0% !important;
        transform: translate(0) !important;

        align-content: flex-start;
        align-items: flex-start;

        .delight__details {
            display: flex;
            flex-basis: calc(10% - var(--s-m));
            margin-left: var(--s-m);
            flex-grow: 1;
        }

        .delight__close {
            display: block;
        }

        .delight__image-container {
            width: 280px;
        }
    }

    &.hide {
        // visibility: hidden;
        // z-index: -20;
        opacity: 0;
    }
}

.delight__image-container {
    width: 100%;
    height: 100%;
    margin: 0;

    .delight__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.delight__details {
    display: none;
    flex-wrap: wrap;
    flex-basis: 100%;

    .active {
        display: flex;
    }
}

.delight__title {
    color: var(--c-background);
    margin: 0;
    flex-basis: 100%;
}

.delight__artist {
    color: var(--c-background);
    flex-basis: 100%;
    margin: 0;
    font-style: italic;
}

.delight__text {
    margin-top: var(--s-xs);
    color: var(--c-background);
    flex-basis: 100%;
}

.delights__description {
    color: var(--c-background);
    margin: var(--s-l);
    // align-self: flex-end;
    flex-grow: 0;
    flex-shrink: 1;

    @include mixins.columns(10);
    @extend %quote-small;
    flex-basis: auto;

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(8);
        flex-basis: auto;
    }
}

.delight__close {
    color: var(--c-background);
    background: none;
    border: none;
    display: none;
    margin-top: var(--s-l);
    cursor: pointer;

    path {
        fill: var(--c-background);
    }
}

// MOBILE
// couldn't really figure out the responsive stuff with the javascript, so I'm just duplicating and hiding the whole container

.delights--mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: var(--s-l);
    margin-top: var(--s-xxl);

    @include mixins.respond-above(variables.$break-m) {
        display: none;
    }
}

.delight__item--mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: var(--s-l);
}

.delight__image--mobile {
    margin: 0;
    width: 100%;

    img {
        width: 100%;
    }
}

.delight__details--mobile {
}

.delight__title--mobile {
    color: var(--c-background);
    margin: 0;
    margin-top: var(--s-xs);
}

.delight__artist--mobile {
    color: var(--c-background);
    margin: 0;
    font-style: italic;
}

.delight__text--mobile {
    color: var(--c-background);
    margin: 0;
    margin-top: var(--s-xs);
}
