@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../utilities/mixins";

.news {
    // display: flex;
    flex-wrap: wrap;
    margin: var(--s-l);
}

.news-filters {
    display: flex;
    justify-content: flex-start;
    margin: var(--s-l) 0 var(--s-xl) 0;

    @include mixins.respond-above(variables.$break-s) {
        justify-content: center;
    }
}

.news-filter {
    border: none;
    background: none;
    @extend %tag;
    color: var(--c-primary);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 var(--s-s) 0 0;
    padding: 0;

    &:hover {
        border-color: var(--c-primary);
    }

    &.active {
        border-color: var(--c-primary);
    }
}

.news__section {
    display: none;

    &.active {
        display: flex;
    }
}

.books {
    // display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--s-l);
}

.book {
    margin-bottom: var(--s-l);
    @include mixins.columns(6);

    @include mixins.respond-above(variables.$break-s) {
        @include mixins.columns(4);
    }

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(3);
    }

    @include mixins.respond-above(variables.$break-l) {
        @include mixins.columns(2);
    }
}

.book__image {
    width: 100%;
}

.book__title {
    @extend %info-title;
    margin: 0;
}

.book__details {
    @extend %info-detail;
    color: var(--c-secondary);
    margin: 0;
}

.videos {
    // display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: var(--s-l);
}

.video__container {
    margin: 0 0 var(--s-l) 0;
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-s) {
        @include mixins.columns(12);
    }

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(6);
    }

    @include mixins.respond-above(variables.$break-l) {
        @include mixins.columns(4);
    }
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    height: 0;
    overflow: hidden;

    iframe {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video__caption {
    margin-top: var(--s-xs);
    @extend %info-title;
}

.videos__button {
    flex-basis: 100%;
    margin-bottom: var(--s-l);
}

.press {
    // display: flex;
    flex-wrap: wrap;
}

.press__item {
    margin-bottom: var(--s-xl);
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(6);
    }
}

.press__date {
    margin: 0 0 var(--s-xs) 0;
    @extend %info-title;
    color: var(--c-secondary);
}

.press__title {
    margin: 0 0 var(--s-xs) 0;
    @extend %title-tertiary;

    a {
        @extend %block-link;
    }
}

.press__source {
    margin: 0;
    @extend %info-detail;
}

// Awards
.awards {
    margin-bottom: var(--s-xl);
    column-gap: var(--s-l);
    column-count: 1;

    @include mixins.respond-above(variables.$break-s) {
        column-count: 2;
    }

    @include mixins.respond-above(variables.$break-m) {
        column-count: 3;
    }

    @include mixins.respond-above(variables.$break-l) {
        column-count: 4;
    }

    &.active {
        display: block;
    }
}

.awards__title {
    column-span: all;
}

.award__section {
    break-inside: avoid;
    margin-bottom: var(--s-m);
}

.award__project {
    @extend %info-title;
    margin-bottom: var(--s-xs);
}

.award__title {
    @extend %info-detail;
    margin-bottom: var(--s-xs);
    margin-top: 0;
}

.award__link {
    @extend %inline-link;
}
