@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../utilities/mixins";

// Studio
.studio {
    display: flex;
    flex-wrap: wrap;
    margin: var(--s-l);
}

.studio__title {
}

.studio__description {
    order: 2;
    margin-top: var(--s-m);
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-l) {
        margin-top: 0;
        order: 1;
        @include mixins.columns(6);
    }

    p {
        margin: 0;
    }

    p + p {
        margin-top: var(--s-xs);
    }
}

.studio__image {
    margin: 0;
    order: 1;
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-l) {
        order: 2;
        @include mixins.columns(6);
    }

    img {
        width: 100%;
    }
}

.studio__link {
    margin-top: var(--s-xs);
    @extend %button;

    a {
        color: var(--c-primary);

        &:hover {
            color: var(--c-secondary);
        }
    }
}

// Pillars
.pillars {
    display: flex;
    flex-wrap: wrap;
    padding: var(--s-l);
    background-color: var(--c-primary);
    color: var(--c-background);
    border-color: var(--c-background);
}

.pillars__title {
    color: var(--c-background);
    border-color: var(--c-background);
    border-bottom: none;
}

.pillar--full {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--c-background);
    padding: var(--s-m);

    .pillar {
        flex-basis: 100%;
    }

    .pillar__image {
        width: 90%;

        @include mixins.respond-above(variables.$break-s) {
            height: 30rem;
            width: auto;
        }
    }
}

.pillar--half {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--c-background);

    .pillar {
        flex-basis: 100%;

        &:first-child {
            border-bottom: 1px solid var(--c-background);
        }

        @include mixins.respond-above(variables.$break-s) {
            flex-basis: 50%;

            &:first-child {
                border-right: 1px solid var(--c-background);
                border-bottom: none;
            }
        }
    }

    .pillar__image {
        width: 90%;

        @include mixins.respond-above(variables.$break-s) {
            height: 20rem;
            width: auto;
        }
    }
}

.pillar {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin: var(--s-s) 0;
}

.pillar__text {
    @extend %quote-small;
    color: var(--c-background);
    flex-basis: 100%;
    text-align: center;
    margin: var(--s-m) var(--s-s);
}

.pillar__image {
    overflow: hidden;
    margin-top: var(--s-xs);
    margin-bottom: var(--s-m);

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        mix-blend-mode: lighten;
        filter: invert(1) saturate(0);
    }
}

// Resilience
.resilience {
    display: flex;
    flex-wrap: wrap;
    margin: var(--s-l);
}

.resilience__title {
}

.resilience__description {
    order: 2;
    margin-top: var(--s-m);
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-l) {
        margin-top: 0;
        order: 1;
        @include mixins.columns(6);
    }
}

.resilience__image {
    margin: 0;
    order: 1;
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-l) {
        order: 2;
        @include mixins.columns(6);
    }

    img {
        width: 100%;
    }
}

.resilience__caption {
    @extend %caption;
}

// Spaces
.spaces {
    display: flex;
    flex-wrap: wrap;
    margin: var(--s-l);
}

.space {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--s-l);
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-s) {
        @include mixins.columns(12);
    }

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(6);
    }

    @include mixins.respond-above(variables.$break-l) {
        @include mixins.columns(6);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.space__image {
    margin: 0;
    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-s) {
        @include mixins.columns(8);
    }

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(12);
    }

    @include mixins.respond-above(variables.$break-l) {
        @include mixins.columns(8);
    }

    img {
        width: 100%;
    }
}

.space__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mixins.columns(12);

    @include mixins.respond-above(variables.$break-s) {
        @include mixins.columns(4, false);
    }

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(12);
    }

    @include mixins.respond-above(variables.$break-l) {
        @include mixins.columns(4, false);
    }

    p {
        margin-bottom: var(--s-xs);
        margin-top: 0;
    }
}

.space__name {
    @extend %title-secondary;
}

.space__time {
    @extend %title-secondary;
}

.space__location {
    @extend %info-detail;
}

.values {
    display: flex;
    flex-wrap: wrap;
    margin: var(--s-l);
}
